
    <h1>Speak to Your Coach</h1>

    <form action="/answer" class="coach-question">
      <input type="text" id="question" name="your_message" placeholder="what time is it?">
      <input type="submit" value="Go on!">
    </form>

